<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/main.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700;900&family=Merriweather:ital,wght@0,400;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>GROSU WEB</title>
</head>
<body>
    <div id="language-switcher">
        <div class="overlay"></div>
        <div class="wrapper">
            <h3>Choose another language</h3>
            <a class="active" href="/">English</a>
            <a href="/fr">Français</a>
            <a href="/de">Deutsch</a>
            <a href="/it">Italiano</a>
            <a href="/ro">Română</a>
            <a href="/ru">Русский</a>
        </div>
    </div>
    <header>
        <div class="container">
            <div class="logo">
                <span class="material-symbols-outlined icon">language</span>
                <span>GROSU WEB</span>
            </div>
            <button class="language-button">
                <span class="material-symbols-outlined">translate</span>
                English
            </button>
        </div>
    </header>
    <section id="hero">
        <div class="container">
            <h1>
                <span class="typewriter"></span>
                <span class="static-text">website development</span>
            </h1>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <span class="section-title">About</span>
            <p>
                I am a full stack web developer based in Switzerland with more than 5 years of programming knowledge.
                I can develop websites no matter the complexity of the work I have to do. Wether it is an eCommerce,
                blog, online shop or a personal website, I can do them all.
            </p>
        </div>
    </section>
    <section id="pricing">
        <div class="container">
            <span class="section-title">Pricing</span>
            <div class="grid">
                <div class="product">
                    <span class="material-symbols-outlined icon">category</span>
                    <div>
                        <h2>Showcase website</h2>
                        <p class="description">Present your company, products and services on a single page.</p>
                        <p class="time">Development time: 5 to 7 business days</p>
                        <p class="price">from EUR 990</p>
                    </div>
                </div>
                <div class="product">
                    <span class="material-symbols-outlined icon">category</span>
                    <div>
                        <h2>Company website</h2>
                        <p class="description">Present your company, products and services in a few pages.</p>
                        <p class="time">Development time: 7 to 15 business days</p>
                        <p class="price">from EUR 1550</p>
                    </div>
                </div>
                <div class="product">
                    <span class="material-symbols-outlined icon">category</span>
                    <div>
                        <h2>E-commerce basic</h2>
                        <p class="description">
                            Sell your products and services online. 
                        </p>
                        <p class="time">Development time: 15 to 25 business days</p>
                        <p class="price">from EUR 1700</p>
                    </div>
                </div>
                <div class="product">
                    <span class="material-symbols-outlined icon">category</span>
                    <div>
                        <h2>E-commerce pro</h2>
                        <p class="description">
                            Sell a vast amount of products of multiple categories
                            online.
                        </p>
                        <p class="time">Development time: 20 to 40 business days</p>
                        <p class="price">from EUR 2650</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="finished-projects">
        <div class="container">
            <span class="section-title">Made by me</span>
            <div class="grid">
                <div class="project">
                    <img src="/images/logo_moderneco.png" alt="moderneco-logo">
                    <a class="visit" href="https://www.moderneco.md" target="_blank">
                        <span class="material-symbols-outlined">open_in_new</span>
                        View website
                    </a>
                </div>
                <div class="project">
                    <img src="/images/logo_hanulcunoroc.png" alt="hanulcunoroc-logo">
                    <a class="visit" href="https://grosucristi.github.io/hanul-cu-noroc/" target="_blank">
                        <span class="material-symbols-outlined">open_in_new</span>
                        View website
                    </a>
                </div>
                <div class="project">
                    <img src="/images/logo_boostcompany.png" alt="boostcompany-logo">
                    <a class="visit" href="https://www.boostcompany.org" target="_blank">
                        <span class="material-symbols-outlined">open_in_new</span>
                        View website
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <span class="section-title">Get in touch</span>
            <div class="grid">
                <div class="big-email">
                    <a href="mailto:grosuca229@gmail.com">
                        <span class="material-symbols-outlined icon">mail</span>
                        grosuca229@gmail.com
                    </a>
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore omnis voluptas esse et eum
                        rem amet aliquid adipisci cum, nam laborum fugiat, voluptates delectus doloremque vitae
                        repudiandae odit eligendi distinctio!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <span>&copy; Copyright 2023</span>
            <span>Made by <a href="#" class="link">GROSU WEB</a></span>
        </div>
    </footer>

    <!-- Typewriter -->
    <script type="text/javascript" nonce="typewriter">
        const typewriterElement = document.querySelector('.typewriter')
        const typewriter = new Typewriter(typewriterElement, {
            loop: true
        });

        typewriter.typeString('Modern')
            .pauseFor(2500)
            .deleteAll()
            .typeString('Secure')
            .pauseFor(2500)
            .deleteAll()
            .typeString('Fast')
            .pauseFor(2500)
            .deleteAll()
            .typeString('Unique')
            .pauseFor(2500)
            .start();
    </script>
</body>
</html>